bleach==2.1.4
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
html5lib==1.0.1
idna==2.7
Markdown==2.6.11
networkx==2.1
numpy==1.14.5
Pillow==5.2.0
pkginfo==1.4.2
protobuf==3.6.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
requests==2.19.1
requests-toolbelt==0.8.0
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
tensorflow-gpu==1.8.0
tensorflow-tensorboard==1.5.1
tensorlayer==1.9.0
tqdm==4.23.4
twine==1.11.0
urllib3==1.23
Werkzeug==0.14.1
coverage
easydict
logbook