[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]



[requires]

python_version = "3.5"


[packages]

tensorflow-gpu = ">=1.4,<1.5"
tensorlayer = "*"
tqdm = "*"
requests = "*"